<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/lojas']">Lojas</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{loja?.name}}</li>
        </ol>
      </nav>

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-primary">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">{{loja?.name}}</h1>
      <p class="lead my-3">{{loja?.about}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <app-carrinho-compra #carrinhoCompra></app-carrinho-compra>
    </div>
    <div class="col-md-8 order-md-1">
      <app-produto></app-produto>
    </div>
  </div>

</div>

<app-footer></app-footer>