  <div class="collapse bg-primary" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Sobre</h4>
          <p class="text-white">Site voltado para venda de produtos ou a comercialização de serviços em pequenas quantidades, ao contrário do que acontece na venda por atacado.</p>
          <button class="btn btn-outline-dark" [routerLink]="['/painel-controle']">Painel de Controle</button>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contatos</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Whatsapp: 085986589473</a></li>
            <li><a href="#" class="text-white">Facebook: SchoolSupplies</a></li>
            <li><a href="#" class="text-white">Instagram: @SchoolSupplies</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="assets/compass.png">
        <strong [routerLink]="['/']">School Supplies</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
<br>