
        <div class="jumbotron container text-center">
          <h1 class="display-6">Compra Finalizada!</h1>
          <p class="display-7">
            Sua venda foi finalizada com êxito.<br> Agradecemos a sua preferência!
          </p>
          <p class="display-8">
            Para efetuar uma nova compra volte <br> para a tela inicial no botão abaixo.
            <br>
            <button [routerLink]="['/']" class="btn btn-outline-secondary">Tela Inicial</button>
          </p>
        </div>
