<div>
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Seu Carrinho</span>
    </h4>
    <div *ngIf="!items().length">
      <div class="alert alert-danger text-center" role="alert">
        <b>Seu carrinho está vazio!</b>
      </div>
    </div>
    <div *ngIf="items().length">
      <ul class="list-group mb-3">
        <li *ngFor="let item of items()" class="list-group-item d-flex justify-content-between lh-condensed">
          <a><p (click)="removeItem(item)" class="text-danger" style="cursor: pointer;"> <i class="fa fa-minus-circle"></i> </p></a>
          <span style="
          max-width:65%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;" class="text-muted">({{item.quantity}}x) {{item.produtoItem.name}}...</span>
          <span class="text-muted">{{item.value() | currency: 'BRL': true}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (R$)</span>
          <strong>{{ total() | currency: 'BRL': true}}</strong>
        </li>
      </ul>
      <div style="float: left;">
        <button (click)="clear()" type="button" class="btn btn-outline-danger"><i class="fa fa-ban"></i> Limpar</button>
      </div>
      <div style="float: right">
        <button [routerLink]="['/compra']" type="button" class="btn btn-outline-success"><i class="fa fa-check"></i> Finalizar Venda</button>
      </div>
      
  
    </div>
          
  </div>
  