<div class="container-header">Novo Produto</div>
<br>
<br>

<div class="container">

    <mt-paginacao></mt-paginacao>

    <form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">

        {{ form.valid }}
        {{ form.value | json }}

    <div class="group-gap">
        
        <!-- Upload image -->
        <div class="avatar-upload">
            <div class="avatar-edit">
                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" required/>
            </div>
            <div class="avatar-preview">
                <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'"></div>
            </div>
        </div>
    </div>
    
    <!-- Upload Button -->
    <button type="submit" class="btn btn-danger btn-lg btn-block" (click)="fileInput.click()">Upload Image</button>
    

    <div>
        <p style="margin-bottom: -5px; padding: 10px; font-size: 17px;">Selecione a loja do produto:</p>
        <select class="custom-select" id="fk_produtos" formControlName="fk_produtos">
                <option *ngFor="let loja of lojas" value="{{loja.id}}">{{loja.name}}</option>
        </select>
    </div>

    <div>
        <input 
            type="text" class="form-control mt-3 mb-3" id="name" placeholder="Nome do Produto" 
            formControlName = "name" required/>
    </div>

    <div>
        <input type="text" class="form-control" id="price" placeholder="Preço do Produto" 
            formControlName = "price" required/>
    </div>

    <div>
        <input type="text" class="form-control mt-3 mb-3" id="quantity" placeholder="Quantidade do Produto" 
            formControlName = "quantity" required/>
    </div>

    <div class="mt-3 mb-3">
        <textarea class="form-control" rows="5" id="comment" placeholder="Descrição do Produto" 
                formControlName = "detail" required></textarea>
    </div>

    <div class="text-right">
        <button type="submit" class="btn btn-outline-primary" (click)="cadastrar()">
            <h4>Cadastrar</h4>
        </button>
        <button style="margin-left: 5px;" type="button" class="btn btn-outline-danger" (click)="onCancel()">
            <h4>Cancelar</h4>
        </button>
    </div>
</form>

<!--
    
    botao cadastrar aqui
    vvvvvvvvvvvvvvvvvvvv

    [disabled]="!form.valid"

    
    
    
    
    <section class="content">
    <section class="invoice">
        <section class="container">
        <div class="row">
            <div class="">
                <h2 class="page-header">
                    <i class="fa fa-shopping-cart"></i> Cadastro do Produto
                </h2>
            </div>
        </div>
        
        <div class="row invoice-info">

                <div class="mt-3 mb-3">
                  <div class="form-group">
                    <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Endereço</label>
                    <input type="text" class="form-control" id="inputSuccess" placeholder="Endereço">
                    <span class="help-block"></span>
                  </div>
                </div>

                <div class="mt-3 mb-3">
                  <div class="form-group has-success">
                    <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Número</label>
                    <input type="text" class="form-control" id="inputSuccess" placeholder="Número">
                    <span class="help-block"><i class="fa fa-check"></i> Ok</span>
                  </div>
                </div>

                <div class="mt-3 mb-3">
                  <div class="form-group has-error">
                    <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Complemento</label>
                    <input type="text" class="form-control" id="inputSuccess" placeholder="Complemento">
                    <span class="help-block"><i class="fa fa-remove"></i> Help block with error</span>
                </div>

                </div>

              </div>
        </section>
    </section>
</section> -->

</div>

<swal 
#deleteSwal
title="Sucesso"
text="Produto adicionado com sucesso!"
type="success">
</swal>