<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col p-4 d-flex flex-column position-static">
    <strong class="mb-2 text-primary">{{produtoItem.price | currency: 'BRL': true}}</strong>
    <h3 class="mb-0">{{produtoItem.name}}</h3>
    <p class="card-text mb-auto">{{produtoItem.detail}}</p>
    <button class="btn btn-outline-info" (click)="emitAddEvent()">Adicionar ao Carrinho</button>
  </div>
  <div class="col-auto">
    <img [src]="produtoItem.file" width="200" height="250">
  </div>
</div>