<div class="container">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Painel de Controle</h1>
        </div>
        <!-- <div class="jumbotron">
          <div class="container">
            <h1 class="display-6">Gerenciamento do Site!</h1>
            <p>Abaixo estão localizados todos os gerenciamentos necessários do site, abaixo o botão que irá direcionar a tela correspondente.</p>
          </div>
        </div> -->
        <div style="background-color: #6f42c1" class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
          <img class="mr-3" src="https://img.icons8.com/ios-filled/240/000000/new-product.png" alt="" width="48" height="48">
          <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Gerenciamento do Site!</h6>
          </div>
        </div>

        <div class="card-group">
          <div class="card">
              <img class="card-img-top" src="https://img.icons8.com/metro/240/000000/shopping-basket.png">
            <div class="card-body">
              <h5 class="card-title">Gerenciamento de vendas</h5>
              <p class="card-text">Nesse componente você poderá atualizar ou remover uma venda efetuada.</p>
              <button [routerLink]="['/gerenciar-vendas']" class="btn btn-outline-dark">Gerenciar Vendas</button>
            </div>
          </div>
          <div class="card">
              <img class="card-img-top" src="https://img.icons8.com/ios-filled/240/000000/new-product.png">
            <div class="card-body">
              <h5 class="card-title">Gerenciamento do estoque</h5>
              <p class="card-text">Nesse componente você poderá cadastrar, atualizar ou remover um produto do estoque.</p>
              <button [routerLink]="['/gerenciar-estoque']" class="btn btn-outline-dark">Gerenciar Estoque</button>
            </div>
          </div>
          <div class="card">
              <img class="card-img-top" src="https://img.icons8.com/metro/240/000000/shop.png">
            <div class="card-body">
              <h5 class="card-title">Gerenciamento de lojas</h5>
              <p class="card-text">Nesse componente você poderá cadastrar, atualizar ou remover uma loja.</p>
              <button [routerLink]="['/gerenciar-lojas']" class="btn btn-outline-dark">Gerenciar Lojas</button>
            </div>
          </div>
        </div>
  </div>


  <app-footer></app-footer>
