        <div class="container">
          <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="../../assets/compra/compra.png" alt="" width="160" height="160">
            <h2>Finalizar Venda</h2>
          </div>

          <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
              <app-compra-items [items]="carrinhoItems()"
                                (increaseQty)= "increaseQty($event)"
                                (decreaseQty)= "decreaseQty($event)"
                                (remove)= "remove($event)"></app-compra-items>
                                <app-delivery-costs [delivery]="delivery"
                                                    [itemsValue]="itemsValue()"></app-delivery-costs>
            </div> <!-- -->

<div class="col-md-8 order-md-1">

          <form #form="ngForm" class="needs-validation" novalidate="">

            {{form.valid}}
            {{form.value | json}}

            <div class="row">

              <div class="col-md-6 mb-3">
                <app-input-container errorMessage=" É obrigatório inserir um nome válido." label="Nome ">
                  <input type="text" class="form-control" name="firstName" minlength="5" ngModel
                    placeholder="Nome" required autocomplete="off">
                </app-input-container>
              </div>

              <div class="col-md-6 mb-3">
                <app-input-container errorMessage=" É obrigatório inserir um sobrenome válido." label="Sobrenome ">
                  <input type="text" class="form-control" name="lastName" minlength="1" ngModel
                    placeholder="Sobrenome" required autocomplete="off">
                </app-input-container>
              </div>

            <div class="col-md-6 mb-3">

                  <label for="inputSuccess">Email <span class="text-muted">(Opcional)</span></label>

                  <input type="email" class="form-control" name="email" ngModel
                    placeholder="fulano@exemplo.com" autocomplete="off">

            </div>

            <div class="col-md-6 mb-3">
              <app-input-container errorMessage=" Por favor, insira seu endereço de entrega." label="Endereço ">
                <input type="text" class="form-control" name="address" ngModel
                    placeholder="Rua dos bobos, nº 0" minlength="5" autocomplete="off" required>
              </app-input-container>
            </div>

              <div class="col-md-6 mb-3">

                <app-input-container errorMessage=" É obrigatório inserir um CEP. Somente números!" label="CEP ">
                  <input type="text" class="form-control" name="cep" minlength="9" maxlength="9" ngModel
                    placeholder="60432-243" required autocomplete="off">
                </app-input-container>

              </div>

            <hr class="mb-4">

            <div class="col-md-6 mb-3">

              <label for="pagamento">Pagamento *</label>
              <select class="form-control" name="pagamento" ngModel class="custom-select d-block w-10" id="pais" required>
                <option value="MON">Dinheiro</option>
                <option value="CRE">Cartão de Crédito</option>
                <option value="DEB">Cartão de Débito</option>
              </select>

            </div>

            </div>

          </form>

            <button (click)="finalizarCompra(form.value)" [disabled]="!form.valid || carrinhoItems().length === 0" class="btn btn-primary btn-lg btn-block" type="submit" >Finalizar Venda</button>

        </div>
      </div>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">© 2019 Aparecida & Guilherme</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a [routerLink]="['/']">Home</a></li>
    <li class="list-inline-item"><a [routerLink]="['/lojas']">Lojas</a></li>
  </ul>
</footer>