        <div class="container">
          <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="../../assets/compra/compra.png" alt="" width="160" height="160">
            <h2>Finalizar Venda</h2>
          </div>

          <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Seu carrinho</span>
                <span class="badge badge-secondary badge-pill">3</span>
              </h4>
              <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">Nome do produto</h6>
                    <small class="text-muted">Breve descrição</small>
                  </div>
                  <span class="text-muted">R$12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">Segundo produto</h6>
                    <small class="text-muted">Breve descrição</small>
                  </div>
                  <span class="text-muted">R$8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">Terceiro item</h6>
                    <small class="text-muted">Breve descrição</small>
                  </div>
                  <span class="text-muted">R$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                  <div class="text-success">
                    <h6 class="my-0">FRETE</h6>
                    <small>Adicionados ao valor final</small>
                  </div>
                  <span class="text-success">+R$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Total (BRL)</span>
                  <strong>R$30</strong>
                </li>
              </ul>
            </div> <!-- -->

<div class="col-md-8 order-md-1">

          <form #form="ngForm" class="needs-validation" novalidate="">

            <div class="row">

              <div class="col-md-6 mb-3">
                <app-input-container errorMessage=" É obrigatório inserir um nome válido." label="Nome ">
                  <input type="text" class="form-control" name="firstName" minlength="5" ngModel
                    placeholder="Nome" required autocomplete="off">
                </app-input-container>
              </div>

              <div class="mb-3">
                <app-input-container errorMessage=" É obrigatório inserir um sobrenome válido." label="Sobrenome ">
                  <input type="text" class="form-control" name="lastName" minlength="1" ngModel
                    placeholder="Sobrenome" required autocomplete="off">
                </app-input-container>
              </div>

            <div class="mb-3">

              <div>
                  <label for="inputSuccess">Email <span class="text-muted">(Opcional)</span></label>

                  <input type="email" class="form-control" name="email" ngModel
                    placeholder="fulano@exemplo.com" autocomplete="off">
              </div>


            </div>


            <div class="mb-3">
              <app-input-container errorMessage=" Por favor, insira seu endereço de entrega." label="Endereço ">
                <input type="text" class="form-control" name="address" ngModel
                    placeholder="Rua dos bobos, nº 0" minlength="5" autocomplete="off" required>
              </app-input-container>
            </div>


            <div class="row">

              <div class="col-md-3 mb-3">

                <app-input-container errorMessage=" É obrigatório inserir um CEP." label="CEP ">
                  <input type="text" class="form-control" name="cep" minlength="9" maxlength="9" ngModel
                    placeholder="60432-243" required autocomplete="off">
                </app-input-container>

              </div>
            </div>

            <hr class="mb-4">

            <label class="mb-3" for="pais">Pagamento</label>
            <select class="custom-select d-block w-10" id="pais" required="">
              <option value="MON">Dinheiro</option>
              <option>Cartão de Crédito</option>
              <option>Cartão de Débito</option>
            </select>

            </div>


          </form>


        </div>
      </div>
<!-- FORMULARIO PARA VENDA -->

              {{form.valid}}
              {{form.value | json}}

              <!-- <form #form="ngForm" class="needs-validation" novalidate="">

                <div class="row">


                  <div class="col-md-6 mb-3">

                    <app-input-container errorMessage=" É obrigatório inserir um nome válido." label="Nome ">
                      <input type="text" class="form-control" name="firstName" minlength="5" ngModel
                        placeholder="Nome" required autocomplete="off">
                    </app-input-container>

                  </div>


                  <div class="mb-3">

                    <app-input-container errorMessage=" É obrigatório inserir um sobrenome válido." label="Sobrenome ">
                      <input type="text" class="form-control" name="lastName" minlength="1" ngModel
                        placeholder="Sobrenome" required autocomplete="off">
                    </app-input-container>

                  </div>

                </div>


                <div class="mb-3">

                  <div>

                      <label for="inputSuccess">Email <span class="text-muted">(Opcional)</span></label>

                      <input type="email" class="form-control" name="email" ngModel
                        placeholder="fulano@exemplo.com" autocomplete="off">

                  </div>


                </div>


                <div class="mb-3">

                  <app-input-container errorMessage=" Por favor, insira seu endereço de entrega." label="Endereço ">
                    <input type="text" class="form-control" name="address" ngModel
                        placeholder="Rua dos bobos, nº 0" minlength="5" autocomplete="off" required>
                  </app-input-container>

                </div>


                <div class="row">

                  <div class="col-md-3 mb-3">

                    <app-input-container errorMessage=" É obrigatório inserir um CEP." label="CEP ">
                      <input type="text" class="form-control" name="cep" minlength="9" maxlength="9" ngModel
                        placeholder="60432-243" required autocomplete="off">
                    </app-input-container>

                  </div>
                </div>

                <hr class="mb-4">

                <label class="mb-3" for="pais">Pagamento</label>
                <select class="custom-select d-block w-10" id="pais" required="">
                  <option value="MON">Dinheiro</option>
                  <option>Cartão de Crédito</option>
                  <option>Cartão de Débito</option>
                </select>
                 <div class="invalid-feedback">
                  Por favor, escolha um país válido.
                </div> -->


                <!-- <div class="d-block my-3">
                  <div class="custom-control custom-radio">
                    <input id="credito" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                  </div>
                    <label class="custom-control-label" for="credito">Cartão de crédito</label>
                  <div class="custom-control custom-radio">
                    <input id="debito" name="paymentMethod" type="radio" class="custom-control-input" required="">
                    <label class="custom-control-label" for="debito">Cartão de débito</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                    <label class="custom-control-label" for="paypal">Dinheiro</label>
                  </div>
                </div> -->
<!--
                <hr class="mb-4">

                <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!form.valid">Finalizar Venda</button>

              </form>
            </div>
          </div> -->

          <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© 2019 Aparecida & Guilherme</p>
            <ul class="list-inline">
            <li class="list-inline-item"><a [routerLink]="['/']">Home</a></li>
              <li class="list-inline-item"><a [routerLink]="['/lojas']">Lojas</a></li>
            </ul>
          </footer>
